// Colors

$palette-white          : #fff
$palette-black          : #000
$palette-light_gray     : #BBB
$palette-gray           : #777
$palette-dark_gray      : #333


// Fonts

$font-stack-title       : "Abril Fatface", sans-serif
$font-stack-sans_serif  : "Open Sans", "Helvetica", "Verdana", sans-serif
$font-stack-serif       : "Gentium Book Basic", "Times New Roman", serif
$font-stack-monospace   : "Menlo", "Courier", monospace

// Sizing
$gutter: 15px
